.container{
  width: 200px;
  height: 360px;
  background: black;
  position: relative;
}
.activity_model{
  width: 20px;
  height: 20px;
  background: cadetblue;
  border: .3px solid #eeeeee;
  box-sizing: border-box;
  position: absolute;
}
.fixed_model{
  width: 20px;
  height: 20px;
  background: #fefefe;
  border: .3px solid #333333;
  box-sizing: border-box;
  position: absolute;
}